
h1 {
    font-family: sans-serif;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;

}
#amarelo {
    background-color: yellow;
    font-weight: bold;
}
#vermelho {
    background-color: red;
    font-style: italic;
}
#marron {
    background-color: brown;
}
