* {
    margin: 0px;
    padding: 0px;;

}

body {
    color: rgb(93, 96, 99);
    line-height: 1.3;
    font-size: 16px;
    font-family: "Helvetica" , "Arial" , sans-serif;
    background-color: rgb(173, 208, 209);
}

header {
    text-align: center;
    background-color: white;
    border-radius: 3px;
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid rgb(100, 97, 97);
}

.line-content {
    margin: 12px;
}

fieldset {
    background-color: white;
    border-radius: 3px;
    width: 80%;
    margin: 40px auto;
    padding: 30px;
}

fieldset legend {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

input[type="text"] {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 191, 191);
}

input[type="radio"] {
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-top: 1px;
}

button {
    width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}